.row-fluid
  .span12
    .tabbable.tabs-left
      %ul.nav.nav-tabs.span2
        %li.active
          %a{"data-toggle" => "tab", :href => "#tab1"} Service 1
        %li
          %a{"data-toggle" => "tab", :href => "#tab2"} Service 2
      .span1
      .tab-content
        #tab1.tab-pane.active
          %p.span8 I'm in Service 1.
        #tab2.tab-pane
          %p.span8 Howdy, I'm in Service 2.