%h3
.row-fluid
  .span1
  .span6
    = Content.find_by_name('about_us').try(:content).html_safe
  .span4
    - @service_areas.each do |service_area|
      .row-fluid
        %h3
          = service_area.name
        %p
          = service_area.short_desc
        %p
          = link_to 'View All »', service_areas_path, :class => 'btn' 
  .span1
%h3
.row-fluid

%hr
.row-fluid